<header>

</header>

<div class="container">

    <div class="user-center">
        <img class="user-img" src="./assets/user-avatar1.png">
    </div>

    <div class="user-center">
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Mis Fotos
        </a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
          Mis Reservas
        </button>
        </p>
    </div>

    <div class="collapse" id="collapseExample2">
        <button class="btn btn-primary">Nueva reserva</button>
        <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>

    <div id="collapseExample">
        <button class="btn btn-primary">Nueva foto</button>
        <div class="abs-center">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="./assets/gallery1.jpg" alt="Card image cap">
                </div>

                <div class="card">
                    <img class="card-img-top" src="./assets/gallery5.jpg" alt="Card image cap">
                </div>
                <div class="card">
                    <img class="card-img-top" src="./assets/gallery6.jpg" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
</div>