<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <app-navbar title="contacto">

        </app-navbar>
    </header>
    <div class="container">
        <div class="row abs-center">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Card-->
                <div class="card card-cascade narrower card1">

                    <strong class="info" style="font-size: larger;">Información de contacto</strong><br><br>
                    <div class="form-group row">
                        <img for="infoLoc" class="icon-img" src="./assets/icon-loca.png" width="50" height="50">
                        <div class="info-item">
                            <label class="form-control" id="infoLoc">CLL 45 A51 - 20</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <img for="infoMail" class="icon-img" src="./assets/icon-mailc.jpg" width="50" height="50">
                        <div class="info-item">
                            <label class="form-control" id="infoMail">hotelacme@reservas.com</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <img for="infoPhone" class="icon-img" src="./assets/icon-phone.png" width="50" height="50">
                        <div class="info-item">
                            <label class="form-control" id="infoPhone">888 00 00 </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <img src="./assets/icon-facebook.png" class="icon-img" width="50" height="50">
                        <img src="./assets/icon-twitter.png" class="icon-img" width="50" height="50">
                        <img src="./assets/icon-instagram.png" class="icon-img" width="50" height="50">
                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Card card-cascade narrower -->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view view-cascade gradient-card-header peach-gradient">
                        <h5 class="mb-0">Ubicación</h5>
                    </div>
                    <!--/Card image-->

                    <!--Card content-->
                    <div class="card-body card-body-cascade text-center">

                        <!--Google map-->
                        <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
                            <iframe src="https://maps.google.com/maps?q=Madryt&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>


                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

        </div>
    </div>
</body>

</html>