<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar-dark bg-dark">

            <ul class="nav nav-pills nav-justified ">
                <li>
                    <a class="navbar-brand" href="#">
                        <img src="./assets/title.png" width="70" height="40" alt="">
                    </a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/habitaciones">Habitaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/galeria">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contacto">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reviews">Reseñas</a>
                </li>

                <li class="nav-item">

                    <a class="nav-link" href="/signin"><img src="./assets/icon-user.png" width="20" height="20" alt="">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><img src="./assets/login-xxl.png" width="20" height="20" alt="">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container"><br><br>
        <strong class="info" style="font-size: larger;">Información de contacto</strong><br><br>
        <div class="form-group row">
            <img for="infoLoc" class="icon-img" src="./assets/icon-loca.png" width="50" height="50">
            <div class="info-item">
                <label class="form-control" id="infoLoc">CLL 45 A51 - 20</label>
            </div>
        </div>
        <div class="form-group row">
            <img for="infoMail" class="icon-img" src="./assets/icon-mailc.jpg" width="50" height="50">
            <div class="info-item">
                <label class="form-control" id="infoMail">hotelacme@reservas.com</label>
            </div>
        </div>
        <div class="form-group row">
            <img for="infoPhone" class="icon-img" src="./assets/icon-phone.png" width="50" height="50">
            <div class="info-item">
                <label class="form-control" id="infoPhone">888 00 00 </label>
            </div>
        </div>
        <div class="form-group row">
            <img src="./assets/icon-facebook.png" class="icon-img" width="50" height="50">
            <img src="./assets/icon-twitter.png" class="icon-img" width="50" height="50">
            <img src="./assets/icon-instagram.png" class="icon-img" width="50" height="50">
        </div>
        <div class="text-right" style="justify-content: flex-end;">
            <img class="img-loc" src="./assets/location.jpg" width="600" height="300" alt="">
        </div>
    </div>

</body>

</html>
