<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <header class="header">
        <!--
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="./assets/title.png" width="60" height="30" alt="">
            </a>

            <!-bar-nav mr-auto ->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Habitaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reseñas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav> -->
        <nav class="navbar-dark bg-dark">

            <ul class="nav nav-pills nav-justified ">
                <li>
                    <a class="navbar-brand" href="#">
                        <img src="./assets/title.png" width="70" height="40" alt="">
                    </a>
                </li>
                <li class="nav-item">

                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/habitaciones">Habitaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/galeria">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/contacto'>Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reviews">Reseñas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="/signin"><img src="./assets/icon-user.png" width="20" height="20" alt="">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><img src="./assets/login-xxl.png" width="20" height="20" alt="">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Bienvenido</h1>
    <div class="abs-center">
        <div class="stars row">
            <img src="./assets/white.png" width="50" height="50">
            <img src="./assets/white.png" width="50" height="50">
            <img src="./assets/white.png" width="50" height="50">
        </div>

    </div>
    <div class="abs-center">
        <div class="rec">

            <label class="l">Calidad</label>


            <p class="descrip">El Hotel ACME cuenta con 50 habitaciones que haran de su esatadia turistica o empresarial una experiencia con la altura, sobriedad y distincion que merece</p>


            <label class="loc">Ubicado en la CLL45 A51-20, tel 888 00 00</label>

        </div>
    </div>
    <footer class="footer">
        <label>Reservas & Reseñas</label>
        <button class="btn" routerLink="/signin">Registrate</button>
        <label>¿Ya tienes una cuenta?</label>
        <button class="btn" routerLink="/login">Inicia sesión</button>
    </footer>
</body>

</html>
