<header>
    <nav class="navbar-dark bg-dark">

        <ul class="nav nav-pills nav-justified ">
            <li>
                <a class="navbar-brand" href="#">
                    <img src="./assets/title.png" width="70" height="40" alt="">
                </a>
            </li>
            <li class="nav-item">

                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/habitaciones">Habitaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/galeria">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/reviews">Reseñas</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" href="/signin"><img src="./assets/icon-user.png" width="20" height="20" alt="">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login"><img src="./assets/login-xxl.png" width="20" height="20" alt="">Login</a>
            </li>
        </ul>
    </nav>
</header>
<form>
    <p>estrellas: 0</p>
    <p class="clasificacion">
        <input id="radio1" type="radio" name="estrellas" value="5">

        <label for="radio1">★</label>

        <input id="radio2" type="radio" name="estrellas" value="4">

        <label for="radio2">★</label>

        <input id="radio3" type="radio" name="estrellas" value="3">

        <label for="radio3">★</label>

        <input id="radio4" type="radio" name="estrellas" value="2">

        <label for="radio4">★</label>

        <input id="radio5" type="radio" name="estrellas" value="1">

        <label for="radio5">★</label>
    </p>
    <p>
        <input type="submit" value="submit" name="submit">
    </p>
</form>
<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>