<body>
    <header>
        <app-navbar title="habitaciones">

        </app-navbar>
    </header>
    <div class="container1">

        <div class="row abs-center">
            <strong>Tarifas</strong>
        </div>
        <div class="row abs-center">
            <div class="col-md-3 mb-2">Estandar</div>
            <div class="col-md-3 mb-2">cama sencilla</div>
            <div class="col-md-3 mb-2">$16000</div>
        </div>
        <div class="row abs-center">
            <div class="col-md-3 mb-2">Superior</div>
            <div class="col-md-3 mb-2">cama doble</div>
            <div class="col-md-3 mb-2">$21000</div>
        </div>
        <div class="row abs-center">
            <div class="col-md-3 mb-2">Lujo</div>
            <div class="col-md-3 mb-2">cama extraqueen</div>
            <div class="col-md-3 mb-2">$340000</div>
        </div>

    </div>
    <div class="container">

        <div class="row abs-center">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="./assets/rooms/room3.jpg" alt="Loading...">
                    <div class="card-body">
                        <h5 class="card-title">Habitación estandar</h5>
                        <p class="card-text">Empezando desde $160000 <br> Disponibles: 8</p>
                        <a class="btn btn-primary" href="/detallehabitacion">Ver detalle</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./assets/rooms/room2.jpg" alt="Loading...">
                    <div class="card-body">
                        <h5 class="card-title">Habitacion superior</h5>
                        <p class="card-text">Empezando desde 216000 <br> Disponibles: 13</p>
                        <a class="btn btn-primary" href="/detallehabitacion">Ver detalle</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./assets/rooms/room1.jpg" alt="Loading...">
                    <div class="card-body">
                        <h5 class="card-title">Habitación lujo</h5>
                        <p class="card-text">Empezando desde $360000 <br> Disponibles: 4</p>
                        <a class="btn btn-primary" href="/detallehabitacion">Ver detalle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>