<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>

<body>
    <header>
        <app-navbar title="signup">

        </app-navbar>
    </header>
    <div class="container">

        <div class="logo-center">
            <img class="logo-img" src="./assets/title.png">
        </div>

        <div class="abs-center">
            <alert></alert>
            <!-- Form -->
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
            
                <div class="logo-center">
                    <img class="icon-avatar" src="./assets/icon-avatar.png">
                </div>

                <!-- Name -->
                <div class="form-group row">
                    <img for="name" class="col-sm-2 icon-img" src="./assets/icon-user.png">
                    <div class="col-sm-10">
                        <input type="text" formControlName="name" placeholder="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">First Name is required</div>
                        </div>
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group row">                    
                    <img for="email" class="col-sm-2 icon-img" src="./assets/icon-mail.png">
                    <div class="col-sm-10">
                        <input type="email" formControlName="email" placeholder="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email Address is required</div>
                        </div>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group row">                    
                    <img for="password" class="col-sm-2 icon-img" src="./assets/icon-padlock.png">
                    <div class="col-sm-10">
                        <input type="password" formControlName="password" placeholder="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>
              
                <!-- Gender n Birth_Date -->
                <div class="form-group row">
                    <img class="col-sm-2 icon-img" src="./assets/icon-calendar.png">
                    <div class="col-sm-6">
                        <input type="date" formControlName="birth_date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birth_date.errors }" />
                    </div>
                    <select formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"  class="col-sm-4.7">
                        <option value="0" selected>Gender</option>
                        <option value="F">F</option>
                        <option value="M">M</option>
                    </select>
                </div>

                <!-- City -->
                <div class="form-group row">
                    <img for="inputCiudad" class="col-sm-2 icon-img" src="./assets/icon-location.png">
                    <div class="col-sm-10">
                        <input type="text" formControlName="city" placeholder="ciudad" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">City is required</div>
                        </div>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary login-btn">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        SIGNUP
                    </button>                   
                </div>                
            </form>
        </div>
    </div>
</body>

</html>
