.carousel-inner img {
    width: 100%;
    max-height: 460px;
    height: 360px;
}

.carousel {
    width: 540px;
    height: 360px;
}

.container,
.row {
    margin-top: 2%;
}

.rec {
    background-color: rgba(104, 103, 103, 0.575);
    border-radius: 2%;
    text-align: center;
}